<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_NAME" value="test-service"/>
        <env name="APP_KEY" value="base64:6p9i9I/Xv+0pG3U5Dk5C5v6z7X8/9a0b1c2d3e4f5g6="/>
        <env name="OTEL_SERVICE_NAME" value="test-service"/>
        <env name="OTEL_SERVICE_NS" value="test-namespace"/>
        <env name="OTEL_SERVICE_ENV" value="testing"/>
    </php>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>

